# external requirements
click>=8.1.7
Sphinx>=7.2.6
coverage
ruff
python-dotenv>=0.5.1
psycopg2>=2.9.9
mysql-connector-python
pyodbc>=5.0.1
pymssql>=2.2.10
sqlacodegen-v2>=0.1.4
SQLAlchemy>=2.0.22
graphviz>=0.20.1
lxml>=4.9.3
loguru